# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/ideas
typings
lib
es6
coverage

# dependencies
node_modules
bower_components

# misc
/.vscode
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
spec-bundle.js
npm-debug.log
testem.log
lerna-debug.log
yarn-error.log
/.nyc_output/
